ul{
    list-style-type: none;
}

header{
   height: 100vh;
   position: relative;
}

hr{
width: 100%;
height: 40px;
margin: auto;
background-color: black;   
}


.RRSS{
width: 40px;
height: 40px;
margin: 4px;
box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
-webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
-moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
}

body{
    background-image: url("/Imagenes/fondos/Fondo1.jpg");
    background-size: 100%;
    background-repeat:inherit;
    padding-top: 5rem;
}

#logo {
   width: 40px;
   
}

.navbar{
background-image: url(/Imagenes/madera.jpg);
box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
-webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
-moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);

}

#perfil{
    border-radius: 22% 78% 25% 75% / 54% 24% 76% 46% ;
    width: 230px;
    height: 340px;
    margin-top: 5px;
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    -webkit-box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    -moz-box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    filter: sepia(6%) saturate(131%) contrast(99%);
    -webkit-filter: sepia(6%) saturate(131%) contrast(99%);
    -moz-filter: sepia(6%) saturate(131%) contrast(99%);
    border: 5px black solid;
   
    
    

}

.RRSS-container{
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 13%;  
    
}
#principal{
   display: flex;
   flex-direction: row;
   
   
}

.titulo{
   border-radius: 42px 40px 200px 171px;
   -webkit-border-radius: 42px 40px 200px 171px;
   -moz-border-radius: 42px 40px 200px 171px;
   display: flex;
   justify-content: center;
   text-align: center;
   background-image: url(/Imagenes/madera.jpg);
   background-size: 10%;
   text-align: center;
   box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   margin-bottom: 3%;
   margin-top: 3%;
   font-family: 'Bebas Neue', cursive;
   padding: 2%;
 
   
   
}


#titulo-txt{
   margin-bottom: 0%;
}

.textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/Imagenes/madera.jpg);
    background-size: 10%;
    text-align: center;
    box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   margin-bottom: 1%;
   font-family: 'Bebas Neue', cursive;
}




.prueba{
    width: 40px;
    height: 40px;
}
 #mis-trabajos{
    height: 100vh   ;
    position: relative;
    margin-top: 10%;
 }

 .email{
    display: flex;
    justify-content: left;
 }
 
 .img-contacto{
   width: 30px;
   height: 30px;
 }



 .consultas-datos{
   box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
   margin-bottom: 1%;
   font-family: 'Bebas Neue', cursive; 
   display: flex;
   justify-content: left;

 }

 .textos-lista{
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-image: url(/Imagenes/madera.jpg);
   background-size: 10%;
   text-align: left;
   box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
  -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
  -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.84);
  margin-bottom: 1%;
  font-family: 'Bebas Neue', cursive;
}

.tamañocarusel {
   box-shadow: 0px 0px 82px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 82px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 82px 0px rgba(0,0,0,0.75);
   
}  

#carouselExampleIndicators{
   display: flex;
   margin: auto;
}

#camaralogo {
   width: 100%;
   height: 100%;
   filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   -webkit-filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   -moz-filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   display: flex;
   margin: auto;
   
}

#camara-fondo{
   width: 200px;
   height: 200px;
   filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   -webkit-filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   -moz-filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
}

#trabajos{
   position: relative;
}

#seccion-3{
   position: relative;
   height: 100vh;
   
   
}

#seccion-4{
   position: relative;
   height: 100vh;
   margin-top: 10%;
}

.readmore_btn {
   background-color: transparent;
   border: transparent; 
   cursor: pointer;
   border-radius: 15px;
   padding: 5px 8px;
}

.readmore_btn:hover {
   border: transparent;
   transition: cubic-bezier(0.055, 0.62, 0.145, 0.8) 1.05s;
}

.hide {
   display: none;
}

.show {
   display: block;
}

#seccion-3{
   margin-top: 10%; 
}

#lista-contactos{
   width: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
  
  

}

@media only screen and (min-width: 768px){
   
   #perfil{
      width: 350px;
      height: 500px;
      position: absolute;
      left: 12%;
   }

   .titulo{
      width: 30%;
      display: flex;
      
      
   }

   #titulo-1{
      position: absolute;
      left: 40%;
      top: 0%;
      justify-content: center;
      padding-left: 3%;
      
      
   
   }

   #texto-1{
      position: absolute;
      left: 45%;
      top: 43%;
      width: 40%;
      font-size: 20px;
      margin-left: 14%;
   }

   .RRSS-container{
      flex-direction:row ;
      position: absolute;
      left: 38%;
      top: 75%;
      width: 40%;
      margin-left: 15%;
      

   }
   
   .RRSS{
      width: 60px;
      height: 60px;
   }

   #camara-fondo{
      position: absolute;
      left: 55%;
      top: 12%;
      width: 300px;
      height: 300px;
   }

   #camara-fondo-2{
      position: absolute;
      left: 82%;
      top: 0%;
      width: 300px;
      height: 300px;
      filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -webkit-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -moz-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
   }

   #camara-fondo-3{
      position: absolute;
      left: 2%;
      top: 50%;
      width: 666px;
      height: 464px;
      filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
      -webkit-filter: sepia(20%) brightness(80%) saturate(83%) contrast(156%);
      -moz-filter: sepia(20%) brightness(65%) saturate(83%) contrast(156%);
   }

  
   
   #acerca-mi{
      position: absolute;
      top: 0%;
      left: 5%;
      margin: auto;
      font-size: 35px;
   }
   
   #personal{
      position: absolute;
      top: 0%;
      left: 55%;
      margin: auto;
      font-size: 35px;
   }

   #listas-personal{
      position: absolute;
      top: 14%;
      left: 60%;
      width: 30%;
      font-size: 20px;
   }
   
   #acerca-txt{
      position: absolute;
      top: 14%;
      left: 1%;
      width: 40%;
      font-size: 20px;
      margin: auto;
   }
   
  

   #estudios-titulo{
      position: absolute;
      top: 40%;
      left: 55%;
      width: 30%;
      font-size: 35px;
      margin: auto;
   }

   #estudios-lista{
      position: absolute;
      top: 54%;
      left: 60%;
      width: 30%;
      font-size: 20px;
   }

   #camara-info{
      width: 34%;
      position: absolute;
      left: 2%;
      top: 60%;
      margin: auto;
      filter: grayscale(30%) sepia(50%) brightness(107%) saturate(84%);
      -webkit-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -moz-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
   }

   #camara-info-2{
      width: 18%;
      position: absolute;
      left: 64%;
      top: 80%;
      margin: auto;
      filter: grayscale(30%) sepia(50%) brightness(107%) saturate(84%);
      -webkit-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -moz-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      transform: rotate(13deg);
      -webkit-transform: rotate(13deg);
      -moz-transform: rotate(13deg);
   

}

#seccion-3{
   margin-top: 5%; 
}



@media only screen and (min-width: 510px){
   #camara-fondo{
      position: absolute;
      left: 65%;
      top: 16%;
}

 }



#camaralogo{
   width: 400px;
   height: 400px;
   position: absolute;
   left: 15%;
}

@media only screen and (min-width: 1190px){


   #referencia-2{
      margin-top: 20%;
   }

   #mis-trabajos{
      margin-top: 4%;
   }

   #camara-info{
      width: 34%;
      position: absolute;
      left: 2%;
      top: 40%;
      margin: auto;
      filter: grayscale(30%) sepia(50%) brightness(107%) saturate(84%);
      -webkit-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -moz-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      transform: rotate(352deg);
      -webkit-transform: rotate(352deg);
      -moz-transform: rotate(352deg);
   }

   #camara-info-2{
      width: 18%;
      position: absolute;
      left: 64%;
      top: 72%;
      margin: auto;
      filter: grayscale(30%) sepia(50%) brightness(107%) saturate(84%);
      -webkit-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      -moz-filter: grayscale(67%) sepia(50%) brightness(107%) saturate(84%);
      transform: rotate(13deg);
      -webkit-transform: rotate(13deg);
      -moz-transform: rotate(13deg);
   } 
}  

}