ul{
    list-style-type: none;
}
.img-contacto{
    width: 50px;
    height: 50px;
}.RRSS{
    width: 40px;
    height: 40px;
    margin: 4px;
    
    
    
}

body{
    background-image: url("/Imagenes/Fondo3.jpg");
    background-size: 100%;
    background-repeat:inherit
}

#perfil{
    border-radius: 22% 78% 25% 75% / 54% 24% 76% 46% ;
    width: 240px;
    height: 350px;
    margin-top: 5px;
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    -webkit-box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    -moz-box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.69);
    filter: sepia(6%) saturate(131%) contrast(99%);
    -webkit-filter: sepia(6%) saturate(131%) contrast(99%);
    -moz-filter: sepia(6%) saturate(131%) contrast(99%);
    

}

.RRSS-container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

#welcome{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
}

#welcome-txt{
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 0.5rem;
}

#mis-trabajos-titulo{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.prueba{
    width: 40px;
    height: 40px;
}
 #mis-trabajos{
    height: 100vh   ;
 }

 .email{
    display: flex;
    justify-content: left;
 }
 
#mis-trabajos-titulo{
    background-color: aliceblue;
}

 #mi{
    background-color: aliceblue;
 }

 #parrafo{
    background-color: aliceblue;
 }

 #personal{
    background-color: aliceblue;
 }

 .listap{
    background-color: aliceblue;
 }

 #estu{
    background-color: aliceblue;
 }

 .listae{
    background-color: aliceblue;
 }

 #inf-titulo{
    background-color: aliceblue;
 }

 .datos{
    background-color: aliceblue;
 }

 #consultas{
    background-color: aliceblue;
 }

 .consultas-datos{
    background-color: aliceblue;
 }